.box {
  background: var(--alpha-wh-5);
  border-top: 1px solid var(--alpha-bk-1);
  border-bottom: 1px solid var(--alpha-bk-1);
  margin: 0 auto;
}

.box.md {
  padding: 30px 50px;
  max-width: none;
}

.box.sm {
  padding: 50px 80px;
  max-width: 700px;
}

/* responsive */
@media all and (max-width: 1440px) {
  .box.md {
    padding: 20px 30px;
  }
}

@media all and (max-width: 1024px) {
  .box.md {
    padding: 20px;
  }

  .box.sm {
    padding: 30px 60px;
  }
}

@media all and (max-width: 768px) {
  .box.md {
    width: calc(100% + 40px);
    margin-left: -20px;
    padding: 20px;
  }

  .box.sm {
    width: calc(100% + 40px);
    margin-left: -20px;
    max-width: none;
    padding: 20px 36px;
  }
}

@media all and (max-width: 375px) {
  .box.sm {
    width: calc(100% + 40px);
    margin-left: -20px;
    padding: 20px;
  }
}