.footer {
  position: relative;
  color: #000000;
  border-top: 1px solid var(--alpha-wh-1);
  background: #ffffff;  
  z-index: 200;
}

.contents {
  padding: 50px 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 30%;
  font-size: 20px;
}

.logo img {
  width: auto;
  max-height: 56px;
  opacity: 1;
}

.info {
  width: 70%;
  font-size: 14px;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--alpha-wh-3);
}

.contact p::after {
  content: '|';
  display: inline-block;
  margin: 0 10px;
}

.contact p:last-of-type::after {
  display: none;
}

/* responsive */
@media all and (max-width: 1024px) {
  .contents {
    padding: 30px 0;
    display: block;
  }

  .logo {
    width: 100%;
    margin-bottom: 20px;
  }

  .logo img {
    max-height: 45px;
  }

  .info {
    width: 100%;
  }

  .contact {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .contact p {
    width: 100%;
    margin-bottom: 12px;
  }

  .contact p::after {
    display: none;
  }
}

@media all and (max-width: 375px) {
  .contents {
    padding: 20px 0;
  }

  .logo h2 {
    text-align: center;
  }
}