.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  color: var(--color-light-gy);
  border-bottom: 1px solid var(--alpha-wh-1);
  background: #ffffff;
  z-index: 300;
  transition: all .3s;
}

.contents {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: auto;
  max-height: 48px;
  vertical-align: middle;
}

/* responsive */
@media all and (max-width: 1024px) {
  .contents {
    height: 65px;
  }

  .logo img {
    max-height: 41px;
  }
}

.nav {
  display: flex;
  gap: 24px;
  align-items: center;
}

.nav a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.nav a:hover {
  color: #007bff; /* 파란색 포인트 */
}
