.userProfile {
  margin-right: 15px;
}

.navItem {
  margin-right: 15px;
}

.navItem:last-of-type {
  margin-right: 0;
}

/* responsive */
@media all and (max-width: 1024px) {
  .userProfile,
  .navItem {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .navItem:last-of-type {
    margin-bottom: 0;
  }
}