.mainWrap {
  position: relative;
}

.section {
  color: var(--color-wh);
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* 0.3 = 30% 어둡게 */
  pointer-events: none;
  /* 클릭 이벤트 막지 않음 */
}

.bg video {
  position: relative;
  top: -15%;
  left: 0;
  width: 115%;
  height: 115%;
  object-fit: cover;
}

/* responsive */
@media all and (max-width: 768px) {
  .section {
    min-height: 52vw;
  }
}