.contents {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.slogan {
  margin-bottom: 80px;
}

.slogan p {
  text-transform: uppercase;
  text-align: center;
  color: #000;
  /* 흰색 글씨 */
  font-size: 35px;
  font-weight: 700;
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
  /* 검정 테두리 효과 */
  animation: FadeIn 7s ease;
}

.title {
  width: 100%;
  height: 180px;
}

.title text {
  stroke: transparent;
  fill: url('#logo-gradient');
  font-size: 55px;
  font-weight: 900;
  animation: stroke 7s alternate;
}

/* responsive */
@media all and (max-width: 768px) {
  .slogan p {
    font-size: 3.9vw;
  }

  .title {
    height: 23.4vw;
  }

  .title text {
    font-size: 7.1vw;
  }
}

@media all and (max-width: 375px) {
  .slogan p {
    font-size: 15px;
  }
}

/* animation */
@keyframes stroke {

  0%,
  19% {
    stroke: transparent;
    fill-opacity: 0;
    stroke-width: 0;
  }

  20% {
    stroke: var(--color-light-pk);
    fill-opacity: 0;
    stroke-width: 3;
    stroke-dashoffset: 25%;
    stroke-dasharray: 25% 25%;
  }

  70% {
    stroke: var(--color-lighter-pk);
    fill-opacity: 0;
    stroke-width: 2;
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
  }

  100% {
    stroke: transparent;
    fill-opacity: 1;
    stroke-width: 0;
  }
}

@keyframes FadeIn {
  0% {
    transform: translateY(-1.5vw);
    opacity: 0;
  }

  20% {
    transform: translateY(0);
    opacity: 1;
  }
}