.section {
  color: var(--color-wh);
  margin-bottom: 100px;
}

.section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--alpha-bk-3);
  z-index: 100;
}

.contents {
  position: relative;
  z-index: 200;
}

.title h2 {
  font-size: 35px;
  font-weight: bold;
  animation: FadeIn 2s ease;
}

.title small {
  display: block;
  font-size: 18px;
  font-weight: 300;
  margin-top: 15px;
  animation: Hide 1s, FadeIn 2s 1s ease;
}

/* responsive */
@media all and (max-width: 1024px) {
  .section {
    margin-bottom: 80px;
  }

  .title h2 {
    font-size: 30px;
  }
  
  .title small {
    font-size: 16px;
    margin-top: 12px;
  }
}

@media all and (max-width: 768px) {
  .section {
    margin-bottom: 60px;
  }

  .title h2 {
    font-size: 28px;
  }
  
  .title small {
    margin-top: 10px;
  }
}

@media all and (max-width: 375px) {
  .section {
    margin-bottom: 50px;
  }

  .title h2 {
    font-size: 26px;
  }
  
  .title small {
    font-size: 14px;
    margin-top: 8px;
  }
}

/* animation */
@keyframes Hide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes FadeIn {
  0% {
    transform: translateY(-1.5vw);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}