.loadingBox {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px 0;
}

.loadingIcon {
  width: 80px !important;
  height: 80px !important;
}

.loadingTxt {
  text-align: center;
  line-height: 1.5;
  font-weight: 500;
  font-size: 18px;
  color: var(--color-gy);
}