.rowsControls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;
  margin-top: 36px;
}

.estimatedInfo {
  margin-top: 15px;
  text-align: center;
}

/* responsive */
@media all and (max-width: 1024px) {
  .rowsControls {
    margin-top: 30px;
  }
}

@media all and (max-width: 768px) {
  .rowsControls {
    margin-top: 28px;
  }
}