.inputBox {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: var(--color-bk)
}

.infoMsg {
  font-size: 12px;
  font-weight: 500;
  color: var(--alpha-bk-5);
}