.notFoundSection {
  background-image: linear-gradient(var(--alpha-wh-3), var(--alpha-bk-0), var(--alpha-bk-5));
  background-color: var(--color-dark-nv);
}

.space, .stars {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.stars {
  background-image: 
    radial-gradient(2px 2px at 50px 200px, var(--color-dark-wh), var(--alpha-bk-0)),
    radial-gradient(2px 2px at 40px 70px, var(--color-wh), var(--alpha-bk-0)),
    radial-gradient(3px 4px at 120px 40px, var(--color-darker-wh), var(--alpha-bk-0));
  background-repeat: repeat;
  background-size: 250px 250px;
  opacity: 0;
  animation: zoom 10s infinite;
}

.stars:nth-child(1) {
  background-position: 10% 90%;
  animation-delay: 0s;
}

.stars:nth-child(2) {
  background-position: 20% 50%;
  background-size: 270px 500px;
  animation-delay: .3s;
}

.stars:nth-child(3) {
  background-position: 40% -80%;
  animation-delay: 1.2s;
}

.stars:nth-child(4) {
  background-position: -20% -30%;
  transform: rotate(60deg);
  animation-delay: 2.5s;
}

.stars:nth-child(5) {
  background-image: radial-gradient(2px 2px at 10px 100px, #eee, rgba(0, 0, 0, 0)),radial-gradient(2px 2px at 20px 10px, #fff, rgba(0, 0, 0, 0)),radial-gradient(3px 4px at 150px 40px, #ddd, rgba(0, 0, 0, 0));
  background-position: 80% 30%;
  animation-delay: 4s;
}

.stars:nth-child(6) {
  background-position: 50% 20%;
  animation-delay: 6s;
}

.msgBox {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-wh);
  text-align: center;
  gap: 50px 0;
}

.errorCode {
  color: var(--alpha-wh-7);
  font-size: 250px;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 0 0.1em var(--alpha-wh-5), 0 0 1em var(--color-dark-nv), 0 0 0.5em var(--color-dark-nv);
  animation: shine 2s infinite;
}

.errorMsg {
  width: calc(100% - 40px);
  margin: 0 auto;
}

.errorMsg > strong {
  display: block;
  font-size: 30px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 30px;
}

.errorMsg > p {
  line-height: 1.7;
  font-weight: 100;
  font-size: 20px;
}

@keyframes zoom {
  0% {
    opacity: 0.2;
    transform: scale(0.5);
    transform: rotate(5deg);
    animation-timing-function: ease-in;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
    transform: scale(2.2);
  }
}

@keyframes shine {
  0% {
    text-shadow: 0 0 0.1em var(--alpha-wh-0), 0 0 1em var(--color-dark-nv), 0 0 0.5em var(--color-dark-nv);
  }
  50% {
    text-shadow: 0 0 0.1em var(--alpha-wh-5), 0 0 1em var(--color-dark-nv), 0 0 0.5em var(--color-dark-nv);
  }
  100% {
    text-shadow: 0 0 0.1em var(--alpha-wh-0), 0 0 1em var(--color-dark-nv), 0 0 0.5em var(--color-dark-nv);
  }
}